body {
    background-color: #1D1D1B;
    color: white;
    font-family: 'Barlow', sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none;
}

section {
    margin: 0 auto;
}

#brand {
    margin: auto;
    position: absolute;
    z-index: 10;
    width: inherit;
    text-align: center
}

#osso-slider {
    -webkit-clip-path: url(#ossoClip);
    clip-path: url(#ossoClip);
}

#osso-slider > img {
    max-width: 100%;
    height: auto;
}

#about {
    padding: 0 3rem;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    padding: 1.5rem 0;
    text-align: center;
}

#mail {
    margin: 1.5rem 0;
}


.btn {
    background-color: white;
    color: #1D1D1B;
    font-weight: 500;
    border: none;
    border-radius: 1px;
    /* -webkit-clip-path: polygon(2.5% 0%, 97.5% 0%, 100% 10%, 100% 90%, 97.5% 100%, 2.5% 100%, 0% 90%, 0% 10%);
    clip-path: polygon(2.5% 0%, 97.5% 0%, 100% 10%, 100% 90%, 97.5% 100%, 2.5% 100%, 0% 90%, 0% 10%); */
}

a:hover {
    opacity: 0.8;
}
a:focus {
    outline: none;
}
a:active {
    opacity: 0.5;
}

#social-media > a {
    display: inline-block;
    color: white;
    padding: 0.25rem;
    margin: 0.25rem;
    width: 1.25rem;
    font-size: 1.25rem;
}

/*---Menor que Desktop---*/
@media (max-width: 56.24rem) {
    section {
        width: 100vw;
    }
    #osso-slider {
        width: 100vw;
        height: 40vw;
    }
    #ossoClip {
        width: 100vw;
        height: 40vw;
    }
}
/*---Celular---*/
@media (max-width: 37.4rem) {
    #brand {
        padding: 12vw 0;
    }
    #brand > img {
        width: 70vw;
    }
    #about {
        font-size: 1rem;
        line-height: 1.375rem;
    }
    #mail {
        font-size: 1rem;
        line-height: 1.375rem;
    }
    .btn {
        font-size: .875rem;
        padding: .875rem 1.25rem;
    }
}
/*---Tablet---*/
@media (min-width: 37.5rem) and (max-width: 56.24rem) {
    #brand {
        padding: 13.77vw 0;
    }
    #brand > img {
        width: 54.88vw;
    }
    
}
/*---Maior que Celular---*/
@media (min-width: 37.5rem) {
    #about {
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 1.5rem 0;
    }
    #mail {
        font-size: 1.5rem;
        line-height: 2rem;
        margin: 0.5rem 0;
    }
    .btn {
        font-size: 1rem;
        padding: 1rem 2rem;
    }
}

/*---Desktop---*/
@media (min-width: 56.25rem) {
    section {
        width: 900px;
    }
    #brand {
        padding: 124px 0;
    }
    #brand > img {
        width: 494px;
    }
    #osso-slider {
        width: 900px;
        height: 360px;
    }
}